@{
    ViewData["Title"] = "Minha Aplicação";
}

<div class="text-center">
    <h1 class="display-4">Desafio</h1>
    <p>
        Meu principal desafio foi quando trabalhava em uma empresa que participava de licitação de estacionamento público, onde tivemos que desenvolver em 2 semanas um mini sistema
        para contabilização e gerenciamento dos parquímetros instalados de cada rua na cidade de São Paulo.
    </p>
</div>
