@{
    ViewData["Title"] = "Minha Aplicação";
}

<div class="text-center">
    <h1 class="display-4">Thiago Fernando Magalhães</h1>
    <p>
        <b>Cargo: </b> Desenvolvedor .Net Sênior
        <br />
        <b>Salário: </b> R$8.500,00
    </p>
</div>
